<div class="container">
  <div class="dev_info_wrapper">
    <div class="dev_intro_wrapper">
      <span class="hello-title">Hello! I'm</span>
      <span class="abt-name">Dilip <span class="kmr">Kumar</span></span>
      <span class="abt-title">Passionate Web and Mobile App Developer</span>
    </div>

    <span class="abt-description">
      Building elegant solutions to complex problems with modern technologies,
      focusing on clean design, high performance, and user-friendly experiences
      that make software more efficient, scalable, and easy to maintain.
    </span>
    <div class="btns-wrapper">
      <a
        href="../../../assets/resume/Dilip_resume.pdf"
        download="Dilip_resume.pdf"
        target="_blank"
        class="resume_download_button"
      >
        <span class="btn-text">Resume</span>
        <lucide-angular
          [img]="download"
          [size]="18"
          class="my-icon"
        ></lucide-angular
      ></a>
      <a
        class="view_project_button btn-ouline"
          routerLink="projects"
        >View Projects
        <lucide-angular
          [img]="arrow"
          [size]="18"
          class="my-icon"
        ></lucide-angular>
      </a>
    </div>
  </div>
</div>
