<div class="container">
    <header><span class="main-title">About Me</span></header>
    <p>Hi, I'm <span class="dev_name">Dilip Kumar</span>, a passionate web and Android app developer fueled by a desire
        to create innovative and user-centric applications. Originally from Nepal, I'm currently pursuing a B.Tech.
        in Computer Science Engineering at <b>Bharath University</b> in Chennai, India.</p>
    <p>
        My fascination with technology and problem-solving led me to the world of programming. I started with the
        fundamentals of web development, diving deep into <b>HTML</b>, <b>CSS</b>, and <b>JavaScript</b>.
        This strong foundation allowed me to explore frameworks like <b>AngularJs</b>, ReactJs and React-Native which
        streamlines the creation
        of dynamic and interactive web experiences.
    </p>
    <span class="title-txt">Expanding My Skillset</span>
    <p>
        To complement my web development skills, I ventured into the realm of Android app development. I've honed my
        proficiency in Java, the primary language for building Android apps, and React Native, a popular framework for
        cross-platform mobile development, ensuring my ability to bring ideas to life on the mobile platform. My
        knowledge extends to C, C++, and SQL, providing me with a well-rounded understanding of different programming
        paradigms and data management. I'm also constantly learning and exploring new technologies to stay ahead of the
        curve.
    </p>
    <br>
    <h2>Skill's</h2>
    <div class="skills_container">
        <div class="skils_card">
            <img src="../../../assets/img/code_icon.png"
            width="80"
             alt="Web Development">
            <div class="skills_info">
                <span class="skill_title">Programming Languages</span>
                <span class="skill_desc">Proficiency in languages like Java, Python, JavaScript, C,  C++ and PHP.</span>
            </div>
        </div>
        <div class="skils_card">
            <img src="../../../assets/img/web_icon.png"
            width="80"
            alt="Web Development">
            <div class="skills_info">
                <span class="skill_title">Web Development</span>
                <span class="skill_desc">Knowledge of HTML, CSS, and JavaScript frameworks (ReactJs, AngularJs)</span>
            </div>
        </div>
        <div class="skils_card">
            <img src="../../../assets/img/mobile_icon.svg"
            width="80"
             alt="Web Development">
            <div class="skills_info">
                <span class="skill_title">Mobile Development</span>
                <span class="skill_desc">Skills in developing applications for Android (Java) and cross-platform tool React Native.</span>
            </div>
        </div>
        <div class="skils_card">
            <img src="../../../assets/img/db_icon.png" 
            width="80"
            alt="Web Development">
            <div class="skills_info">
                <span class="skill_title">Database Management</span>
                <span class="skill_desc">Understanding of SQL databases (MySQL).</span>
            </div>
        </div>
       
       
    </div>



</div>