.container {
  padding: 0px 12px;

}
.dev_info_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  gap: 20px;
  @media (max-width: 768px) {
    height: auto;
  }
}
.resume_download_button,
.view_project_button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #853eeb, #3c3ed4);
  color: white;
  padding: 6px 12px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
}
.my-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.btn-ouline {
  background: transparent !important;
  border: 1px solid #28283d;
  background: #0e112f !important;
}
.resume_download_button:hover,
.view_project_button:hover {
  opacity: 0.8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-3px);
}
.btns-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 25px;
}
.dev_intro_wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.abt-name {
  font-size: 50px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}
.abt-title {
  font-size: 30px;
  color: #aaaac6;
  text-transform: capitalize;
  font-weight: 200;
}
.kmr{
  color: #3c3ed4;
  /* border-bottom: 2px solid #3c3ed4; */
}
.hello-title {
  color: #3c3ed4;
  /* font-weight: 280; */
  /* background: linear-gradient(135deg, #3c3ed4, #853eeb);
  display: block;
  width: max-content;
  padding: 0px 12px;
  border-top-right-radius: 20px; */

}
.abt-description {
  font-size: 18px;
  color: aliceblue;

  font-weight: 200;
}
