<div class="container">
    <header><span class="main-title">Projects</span></header>
    <div class="projects">
        <div class="project-item" *ngFor="let item of items">
            <div class="project-img" (click)="viewDetail(item)">
                <img [src]="item.poster" alt="{{ item.title }}" loading="lazy">
            </div>
            <div class="title-container">
                <span class="project-title">{{ item.title }}</span>
                <div class="icon">
                    <fa-icon *ngIf="item.liveLink" [icon]="faLink" class="fa-arrow"
                        (click)="liveDemo(item.liveLink)"></fa-icon>
                    <fa-icon *ngIf="item.gitHublink" [icon]="faGithub" class="fa-arrow"
                        (click)="openCode(item.gitHublink)"></fa-icon>
                </div>
            </div>
            <span class="project-domain">{{ item.domain }}</span>
        </div>
    </div>
    <div class="project-items-details-container" *ngIf="isOpen">
        <div class="project-details">
            <div class="close"> <fa-icon [icon]="faTimes" class="close-icon" (click)="closeItemView()"></fa-icon></div>
            <div class="project-viewer-wrapper" *ngIf="openProject">
                <img [src]="openProject.poster" alt="poster" class="viewer-img">
                <div class="title-container">
                    <span class="project-title">{{ openProject.title }}</span>
                    <div class="icon">
                        <fa-icon *ngIf="openProject.liveLink" [icon]="faLink" class="fa-arrow"
                            (click)="liveDemo(openProject.liveLink)"></fa-icon>
                        <fa-icon *ngIf="openProject.gitHublink" [icon]="faGithub" class="fa-arrow"
                            (click)="openCode(openProject.gitHublink)"></fa-icon>
                    </div>
                </div>
                <span class="project-domain">{{ openProject.domain }}</span>
                <span class="project-desc">{{ openProject.description }}</span>
                <span class="project-tect-stack">Tech Stack</span>
                <span class="project-desc">{{ openProject.techStack }}</span>
                <a *ngIf="openProject.liveLink" [href]="openProject.liveLink" target="_blank" rel="noopener noreferrer">Live Demo</a>
                <a *ngIf="openProject.gitHublink" [href]="openProject.gitHublink" target="_blank" rel="noopener noreferrer">View Source Code On Github</a>
            </div>
        </div>

    </div>
</div>