<div class="container">
  <header #targetElement><span class="main-title">Projects</span></header>
  <div class="projects">
    <div class="project-item" *ngFor="let item of items">
      <div class="project-img" (click)="viewDetail(item)">
        <img
          *ngIf="item.posters?.length"
          [src]="item.posters[0]"
          alt="{{ item.title }}"
          loading="lazy"
        />
      </div>
      <div class="title-container" (click)="viewDetail(item)">
        <span class="project-title">{{ item.title }}</span>
        <div class="icon">
          <fa-icon
            *ngIf="item.liveLink"
            [icon]="faLink"
            class="fa-icon"
            (click)="liveDemo(item.liveLink); $event.stopPropagation()"
          ></fa-icon>
          <fa-icon
            *ngIf="item.gitHublink"
            [icon]="faGithub"
            class="fa-icon"
            (click)="openCode(item.gitHublink); $event.stopPropagation()"
          ></fa-icon>
        </div>
      </div>
      <span (click)="viewDetail(item)" class="project-domain">{{
        item.descriptions[0]
      }}</span>
      <div class="lang-wrapper">
        <div *ngFor="let l of item.lang" class="lang-icon-item">
          <img
            [src]="l.icon"
            [alt]="l.name"
            width="18"
            height="18"
            class="lang-icon"
          />
          <span class="lang-name">{{ l.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="project-items-details-container" *ngIf="isOpen"></div>
</div>
