<main>
  <aside class="sidebar">
    <div class="sidebar-info">
      <figure class="avatar-box">
        <img
          src="../assets/img/dilip-img1.jpg"
          alt="Dilip Kumar Teli"
          width="80"
          class="faded-sides"
        />
      </figure>

      <div class="info-content">
        <div class="info_name_content">
          <span class="name" title="Dilip Kumar Teli">Dilip Kumar Teli</span>
          <div
            class="toggle-sidebar-more"
            (click)="isSidebarOpen = !isSidebarOpen"
          >
            <span>Info</span>
            <lucide-angular
              [img]="angle"
              [size]="14"
              class="my-icon toggle-icon"
              [class.rotated]="isSidebarOpen"
            ></lucide-angular>
          </div>
        </div>
        <p class="title">Web and Mobile App Developer</p>
      </div>
    </div>
    <!-- <div class="separator"></div> -->

    <div
      class="sidebar-info_more"
      [class.open]="isSidebarOpen"
      [class.closed]="!isSidebarOpen && windowWidth <= 767"
    >
      <div class="separator"></div>

      <div class="contacts-list">
        <div class="contact-item email-wrpr" (click)="openEmail()">
          <div class="icon-box">
            <lucide-angular
              [img]="email"
              [size]="18"
              class="my-icon"
            ></lucide-angular>
          </div>

          <div class="contact-info">
            <p class="contact-title">Email</p>
            <span class="contact-link email-link">dilipg44u&#64;gmail.com</span>
          </div>
        </div>

        <div class="contact-item email-wrpr" (click)="makeCall()">
          <div class="icon-box">
            <lucide-angular
              [img]="phone"
              [size]="18"
              class="my-icon"
            ></lucide-angular>
          </div>

          <div class="contact-info">
            <p class="contact-title">Phone</p>
            <span class="contact-link email-link">+91 7991907185</span>
          </div>
        </div>

        <div class="contact-item">
          <div class="icon-box">
            <lucide-angular
              [img]="calender"
              [size]="18"
              class="my-icon"
            ></lucide-angular>
          </div>

          <div class="contact-info">
            <p class="contact-title">Date of Birth</p>

            <time datetime="2001-05-25">May 25, 2001</time>
          </div>
        </div>

        <div class="contact-item">
          <div class="icon-box">
            <lucide-angular
              [img]="location"
              [size]="18"
              class="my-icon"
            ></lucide-angular>
          </div>

          <div class="contact-info">
            <p class="contact-title">Location</p>
            <address>Chennai, Tamilnadu, India</address>
          </div>
        </div>
      </div>

      <div class="separator"></div>

      <div class="social-list">
        <div class="social-item">
          <a
            href="https://www.linkedin.com/in/dilipgpta/"
            target="_blank"
            class="social-link"
          >
            <img
              src="../assets/lang-icon/linkedIN.png"
              alt=""
              class="social-icon"
            />
          </a>
        </div>
        <div class="social-item">
          <a
            href="https://www.instagram.com/dilipgupta_4u"
            class="social-link"
            target="_blank"
          >
            <img
              src="../assets/lang-icon/insta.png"
              alt=""
              class="social-icon"
            />
          </a>
        </div>
        <div class="social-item">
          <a
            href="https://www.facebook.com/dilip8513gupta"
            class="social-link"
            target="_blank"
          >
            <img src="../assets/lang-icon/fb.png" alt="" class="social-icon" />
          </a>
        </div>

        <div class="social-item">
          <a href="https://github.com/dilip12git" class="social-link" download>
            <img
              src="../assets/lang-icon/github.png"
              alt=""
              class="social-icon"
            />
          </a>
        </div>
      </div>
    </div>
  </aside>

  <div class="main-content">
    <nav class="navbar">
      <button
        class="navbar-link"
        routerLinkActive="active_nav"
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="m-icon-wrapper">
          <lucide-angular
            [img]="userIcon"
            [size]="18"
            class="my-icon"
          ></lucide-angular>
        </div>
        <span>About</span>
      </button>
      <button
        class="navbar-link"
        routerLinkActive="active_nav"
        routerLink="resume"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="m-icon-wrapper">
          <lucide-angular
            [img]="resume"
            [size]="18"
            class="my-icon"
          ></lucide-angular>
        </div>

        <span>Resume</span>
      </button>
      <button
        class="navbar-link"
        routerLinkActive="active_nav"
        routerLink="projects"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="m-icon-wrapper">
          <lucide-angular
            [img]="projectIcon"
            [size]="18"
            class="my-icon"
          ></lucide-angular>
        </div>
        <span>Projects</span>
      </button>
      <button
        class="navbar-link"
        routerLinkActive="active_nav"
        routerLink="contact"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="m-icon-wrapper">
          <lucide-angular
            [img]="contactIcon"
            [size]="18"
            class="my-icon"
          ></lucide-angular>
        </div>
        <span>Contacts</span>
      </button>
    </nav>
    <article>
      <router-outlet></router-outlet>
    </article>
  </div>

  <div class="background-lights">
    <div
      *ngFor="let light of lights"
      class="light"
      [ngStyle]="{
        top: light.top + '%',
        left: light.left + '%',
        width: light.size + 'px',
        height: light.size + 'px',
        background: light.color,
        animationDuration:
          light.floatDuration + 's, ' + light.pulseDuration + 's',
        animationDelay: light.delay + 's, ' + light.delay + 's'
      }"
    ></div>
    <div class="stars-container">
      <div
        class="star"
        *ngFor="let star of stars"
        [ngStyle]="{
          left: star.left + '%',
          animationDuration: star.duration + 's',
          animationDelay: star.delay + 's',
          '--drift': star.drift + 'px'
        }"
      ></div>
    </div>
  </div>
</main>
