.container {
  padding: 0px 12px;
}

.title-txt {
  color: aliceblue;
  font-weight: 600;
}

.desc {
  font-size: 12px;
  font-weight: 280;
  color: hsl(0, 0%, 80%);
}

.main-title {
  color: aliceblue;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2px;
}

.title_desc_wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

header {
  margin-bottom: 30px;
}

.main-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  border-radius: 4px;
  background: #5c5fe2;
  margin-top: 10px;
}

h3 {
  font-size: 22px;
}

.h4,
.h3,
.h2,
.h5 {
  color: hsl(0, 0%, 98%);
  text-transform: capitalize;
}

.h4,
.h5 {
  font-size: 16px;
  font-weight: 400;
}

.dev_name {
  color: #5c5fe2;
  font-style: italic;
  font-weight: 400;
}

p,
b {
  color: hsl(0, 0%, 96%);
  font-size: 14px;
  font-weight: 280;
}

a {
  color: lightblue;
}

.icon-box {
  position: relative;
  background: linear-gradient(
    to bottom right,
    #5c5fe2,
    hsla(0, 0%, 25%, 0) 50%
  );
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #5c5fe2;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: transparent;
  border-radius: inherit;
  z-index: -1;
}

.download-resume-btn {
  background: #3d444d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  color: beige;
  z-index: 1;
  padding: 12px 16px;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
}
.separator {
  width: 100%;
  height: 1px;
  background: #3d444d1f;
  margin: 16px 0;
}
.download-resume-btn:hover {
  color: #5c5fe2;
}
/* updated styles */
.edu-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.edu-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.degree_completion_date_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px dashed #313148;
  padding: 3px 10px;
  border-radius: 100px;
  color: white;
}
.luc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.degree_title,
.sk-item-title {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.degree_branch {
  color: #5c5fe2;
}
.degree_completion_date {
  color: white;
  font-size: 12px;
}
.college_name {
  color: white;
}
.clg_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.some_intro_txt,
.Dev_intro,
.sk-intro {
  color: #cdced1;
  font-size: 12px;
}
.skills_wrapper,.sk-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.skill-title {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
}
.sk-title {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.sk-item-text-wrp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border: 1px dashed #28283d !important;

}
.skills_content_wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lang-img-icon{
  width: 20px;
  height: 20px;
}
.learnt_skills,
.sk-item-text-wrp {
  background: #0e112f;
  border-radius: 100px;
  border: 1px solid #28283d;
  color: #5c5fe2;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}
li {
  list-style: none;
}

.timeline {
  margin-bottom: 30px;
}
.sk-item-txt{
  color: white !important;
}
.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: 14px;
  margin-left: 10px;
  margin-top: -20px;
}
.skill-item-wrapper{
  max-width: 100% !important;
}

.timeline-item,
.skill-item-wrapper {
  position: relative;
  border: 1px solid #28283d;
  padding: 20px;
  max-width: 760px;
  border-radius: 16px;
  box-shadow: #020514 0px 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition:all .5s;
}
.timeline-item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-3px);

}
.skill-item-wrapper:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-3px);


}
.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 7px;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: hsl(0, 0%, 22%);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: linear-gradient(to right, #5c5fe2, #5c5fe2);

  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}

.timeline-text {
  color: hsl(0, 0%, 84%);
  font-weight: 300;
  line-height: 1.6;
}

/**
 * skills 
 */

.skills-title {
  margin-bottom: 20px;
}

.skills-list {
  padding: 20px;
}

.skills-item:not(:last-child) {
  margin-bottom: 15px;
}
.skill{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .title-wrapper data {
  color: hsl(0, 0%, 84%);
  font-size: 13px;
  font-weight: 300px;
}



.content-card {
  position: relative;
  background: #0d1117;
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 580px) {
  .timeline-list {
    margin-top: -15px;
    margin-left: 22px;
  }

  .timeline-item:not(:last-child)::before {
    left: -40px;
  }

  .timeline-item::after {
    height: 12px;
    width: 12px;
    left: -46px;
  }

  .skills-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .content-card {
    padding: 30px;
    padding-top: 25px;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* font-size: 18px; */
  }
}

@media (min-width: 1250px) {
  .timeline-text {
    max-width: 700px;
  }
}
