.container {
  padding: 0px 12px;
}

.title-txt {
  color: aliceblue;
  font-weight: 600;
}

.desc {
  font-size: 12px;
  font-weight: 280;
  color: hsl(0, 0%, 80%);

}

.main-title {
  color: aliceblue;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2px;

}

.title_desc_wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

header {
  margin-bottom: 30px;
}

.main-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  border-radius: 4px;
  background: hsl(45, 100%, 72%);
  margin-top: 10px;
}

h3 {
  font-size: 22px;
}

.h4,
.h3,
.h2,
.h5 {
  color: hsl(0, 0%, 98%);
  ;
  text-transform: capitalize;
}

.h4,
.h5 {
  font-size: 16px;
  font-weight: 400;
}

.dev_name {
  color: hsl(45, 100%, 72%);
  font-style: italic;
  font-weight: 400;
}

p,
b {
  color: hsl(0, 0%, 96%);
  font-size: 14px;
  font-weight: 280;

}

a {
  color: lightblue;
}

.icon-box {
  position: relative;
  background: linear-gradient(to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: hsl(45, 100%, 72%);
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: hsl(240, 2%, 13%);
  border-radius: inherit;
  z-index: -1;
}

.icon-box fa-icon {
  stroke-width: 35px;
}

.download-resume-btn {
  position: relative;
  background: linear-gradient(to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  color: beige;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
  padding: 12px 16px;
  cursor: pointer;
  text-decoration: none;
  width: max-content;

}
.download-resume-btn:hover{
  color: hsl(45, 100%, 72%);
}

.download-resume-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: hsl(240, 2%, 13%);
  border-radius: inherit;
  z-index: -1;
}

li {
  list-style: none;
}

.timeline {
  margin-bottom: 30px;
}

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: 14px;
  margin-left: 10px;
  margin-top: -20px;

}

.timeline-item {
  position: relative;
}

.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 7px;
}

.timeline-list span {
  color: hsl(45, 54%, 58%);
  ;
  font-weight: 400;
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: hsl(0, 0%, 22%);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));

  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}

.timeline-text {
  color: hsl(0, 0%, 84%);
  font-weight: 300;
  line-height: 1.6;
}


/**
 * skills 
 */

.skills-title {
  margin-bottom: 20px;
}

.skills-list {
  padding: 20px;
}


.skills-item:not(:last-child) {
  margin-bottom: 15px;
}

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .title-wrapper data {
  color: hsl(0, 0%, 84%);
  font-size: 13px;
  font-weight: 300px;
}

.skill-progress-bg {
  background: hsl(0, 0%, 22%);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
  height: 100%;
  border-radius: inherit;
}

.content-card {
  position: relative;
  background: linear-gradient(to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  border-radius: inherit;
  z-index: -1;
}


@media (min-width: 580px) {

  .timeline-list {
    margin-top: -15px;
    margin-left: 22px;
  }

  .timeline-item:not(:last-child)::before {
    left: -40px;
  }

  .timeline-item::after {
    height: 8px;
    width: 8px;
    left: -43px;
  }

  .skills-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .content-card {
    padding: 30px;
    padding-top: 25px;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }


}


@media (min-width: 1250px) {
  .timeline-text {
    max-width: 700px;
  }
}