<div class="container">
    <header><span class="main-title">Resume</span></header>
    <article class="resume">
        <section class="timeline">
            <div class="title-wrapper">
                <div class="icon-box">
                    <fa-icon [icon]="faBook"></fa-icon>
                </div>
                <h3 class="h3">Education</h3>
            </div>

            <ol class="timeline-list">
                <li class="timeline-item">
                    <h4 class="h4 timeline-item-title">
                        Bharath Institute Of Higher Education & Research
                    </h4>
                    <span>2022 — 2026</span>
                    <p class="timeline-text">
                        B.Tech Computer Science & Engineering.
                    </p>
                </li>

                <li class="timeline-item">
                    <h4 class="h4 timeline-item-title">Shree Susanskrit Secondary School</h4>
                    <span>2020 — 2022</span>
                    <p class="timeline-text">
                        Intermediate, Computer Science
                    </p>
                </li>
            </ol>
        </section>

        <section class="timeline">
            <div class="title-wrapper">
                <div class="icon-box">
                    <fa-icon [icon]="faBook"></fa-icon>
                </div>

                <h3 class="h3">Experience</h3>
            </div>

            <ol class="timeline-list">
                <li class="timeline-item">
                    <h4 class="h4 timeline-item-title">Independent Web Developer</h4>
                    <span>Self-employed | 2018 – Present</span>
                    <p class="timeline-text">
                        Developed various web applications
                        using technologies such as HTML, CSS, JavaScript (AngularJs, ReactJs), PHP and SQL, enhancing
                        your
                        full-stack development skills.
                    </p>

                    <p class="timeline-text">
                        Implemented responsive web designs and mobile-friendly interfaces to ensure optimal user
                        experience across all devices.
                    </p>
                    <p class="timeline-text">Created and managed databases using SQL for backend support in
                        web applications, improving data handling and storage efficiency.
                    </p>

                </li>

                <li class="timeline-item">
                    <h4 class="h4 timeline-item-title">Independent Mobile App Developer</h4>
                    <span>Self-employed | 2021 – Present</span>

                    <p class="timeline-text">
                        Designed and developed mobile applications using React Native and Java for Android, focusing on
                        performance, scalability, and user-friendly interfaces.
                    </p>
                    <p class="timeline-text">Integrated RESTful APIs and third-party libraries to extend application
                        functionality, demonstrating proficiency in handling backend services and external integrations.
                    </p>
                    <p class="timeline-text">Managed app deployment and updates on Google Play Store, gaining hands-on
                        experience in the app release lifecycle and version control.</p>
                </li>
            </ol>
        </section>

        <section class="skill">
            <h3 class="h3 skills-title">My skills</h3>

            <ul class="skills-list content-card">

                <li class="skills-item">
                    <div class="title-wrapper">
                        <div class="title_desc_wrapper">
                            <span class="h5">Web Development -
                                <data value="85">85%</data>
                            </span>
                            <span class="desc">Knowledge of HTML, CSS, and JavaScript frameworks (ReactJs,
                                AngularJs)</span>
                        </div>

                    </div>

                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 85%"></div>
                    </div>
                </li>
                <li class="skills-item">
                    <div class="title-wrapper">
                        <div class="title_desc_wrapper">
                            <span class="h5">Mobile Application Development -
                                <data value="75">75%</data>
                            </span>
                            <span class="desc">Skills in developing applications for Android (Java) and cross-platform
                                tool React Native.</span>
                        </div>
                    </div>

                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 75%"></div>
                    </div>
                </li>

                <li class="skills-item">
                    <div class="title-wrapper">
                        <div class="title_desc_wrapper">
                            <span class="h5">Database Management -
                                <data value="70">70%</data>
                            </span>
                            <span class="desc">Understanding of SQL databases (MySQL).</span>
                        </div>
                    </div>

                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 70%"></div>
                    </div>
                </li>

                <li class="skills-item">
                    <div class="title-wrapper">
                        <div class="title_desc_wrapper">
                            <span class="h5">Programming Languages -
                                <data value="80">80%</data>
                            </span>
                            <span class="desc">Proficiency in languages like Java, Python, JavaScript, C, C++ and
                                PHP.</span>
                        </div>
                    </div>

                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 80%"></div>
                    </div>
                </li>
            </ul>
        </section>

        <a href="../../../assets/resume/Dilip_resume.pdf" class="download-resume-btn" download="Dilip_resume.pdf">
            Download Resume
            <fa-icon [icon]="faDownload"></fa-icon>
        </a>
    </article>
</div>